// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';
@import './svgicon.scss';

/* Global scss */

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
    height: 100%;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
a:focus,
a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    @include clearfix;
}

label {
    font-weight: 700;
}

.app-container {
    padding: 20px;
}

.components-container {
    margin: 30px 50px;
    position: relative;
}

// Refine element ui upload
.upload-container {
    .el-upload {
        width: 100%;
        .el-upload-dragger {
            width: 100%;
            height: 200px;
        }
    }
}

aside {
    background: #eef1f6;
    color: #2c3e50;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a {
        color: #337ab7;
        cursor: pointer;
        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

.fixed-width {
    .el-button--mini {
        padding: 7px 10px;
        min-width: 60px;
    }
}

.filter-container {
    padding-bottom: 10px;
    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;
    &:hover {
        color: rgb(32, 160, 255);
    }
}

.status-col {
    .cell {
        padding: 0 10px;
        text-align: center;
    }
}

.text-center {
    text-align: center
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
    .subtitle {
        font-size: 20px;
        color: #fff;
    }
    &.draft {
        background: #d0d0d0;
    }
    &.deleted {
        background: #d0d0d0;
    }
}

.no-padding {
    padding: 0px !important;
}

.grid-content {
    margin-top: 10px;
}

.full-width {
    width: 100% !important;
}

.el-divider.divider-text-color>div {
    color: #1682e6 !important;
}

.red {
    color: #e61616 !important;
}

fieldset {
    border-radius: 4px !important;
    border-color: #dcdfe542 !important;
}

.new-line {
    white-space: pre-line;
}

.b-r-0 {
    border-radius: 0px;
}

.b-r-0-i {
    border-radius: 0px !important;
}

.b-r-0-p {
    border-radius: 0%;
}

.b-r-0-p-i {
    border-radius: 0% !important;
}

.b-r-1 {
    border-radius: 1px;
}

.b-r-1-i {
    border-radius: 1px !important;
}

.b-r-1-p {
    border-radius: 1%;
}

.b-r-1-p-i {
    border-radius: 1% !important;
}

.b-r-2 {
    border-radius: 2px;
}

.b-r-2-i {
    border-radius: 2px !important;
}

.b-r-2-p {
    border-radius: 2%;
}

.b-r-2-p-i {
    border-radius: 2% !important;
}

.b-r-3 {
    border-radius: 3px;
}

.b-r-3-i {
    border-radius: 3px !important;
}

.b-r-3-p {
    border-radius: 3%;
}

.b-r-3-p-i {
    border-radius: 3% !important;
}

.b-r-4 {
    border-radius: 4px;
}

.b-r-4-i {
    border-radius: 4px !important;
}

.b-r-4-p {
    border-radius: 4%;
}

.b-r-4-p-i {
    border-radius: 4% !important;
}

.b-r-5 {
    border-radius: 5px;
}

.b-r-5-i {
    border-radius: 5px !important;
}

.b-r-5-p {
    border-radius: 5%;
}

.b-r-5-p-i {
    border-radius: 5% !important;
}

.b-r-6 {
    border-radius: 6px;
}

.b-r-6-i {
    border-radius: 6px !important;
}

.b-r-6-p {
    border-radius: 6%;
}

.b-r-6-p-i {
    border-radius: 6% !important;
}

.b-r-7 {
    border-radius: 7px;
}

.b-r-7-i {
    border-radius: 7px !important;
}

.b-r-7-p {
    border-radius: 7%;
}

.b-r-7-p-i {
    border-radius: 7% !important;
}

.b-r-8 {
    border-radius: 8px;
}

.b-r-8-i {
    border-radius: 8px !important;
}

.b-r-8-p {
    border-radius: 8%;
}

.b-r-8-p-i {
    border-radius: 8% !important;
}

.b-r-9 {
    border-radius: 9px;
}

.b-r-9-i {
    border-radius: 9px !important;
}

.b-r-9-p {
    border-radius: 9%;
}

.b-r-9-p-i {
    border-radius: 9% !important;
}

.b-r-10 {
    border-radius: 10px;
}

.b-r-10-i {
    border-radius: 10px !important;
}

.b-r-10-p {
    border-radius: 10%;
}

.b-r-10-p-i {
    border-radius: 10% !important;
}

.b-r-11 {
    border-radius: 11px;
}

.b-r-11-i {
    border-radius: 11px !important;
}

.b-r-11-p {
    border-radius: 11%;
}

.b-r-11-p-i {
    border-radius: 11% !important;
}

.b-r-12 {
    border-radius: 12px;
}

.b-r-12-i {
    border-radius: 12px !important;
}

.b-r-12-p {
    border-radius: 12%;
}

.b-r-12-p-i {
    border-radius: 12% !important;
}

.b-r-13 {
    border-radius: 13px;
}

.b-r-13-i {
    border-radius: 13px !important;
}

.b-r-13-p {
    border-radius: 13%;
}

.b-r-13-p-i {
    border-radius: 13% !important;
}

.b-r-14 {
    border-radius: 14px;
}

.b-r-14-i {
    border-radius: 14px !important;
}

.b-r-14-p {
    border-radius: 14%;
}

.b-r-14-p-i {
    border-radius: 14% !important;
}

.b-r-15 {
    border-radius: 15px;
}

.b-r-15-i {
    border-radius: 15px !important;
}

.b-r-15-p {
    border-radius: 15%;
}

.b-r-15-p-i {
    border-radius: 15% !important;
}

.b-r-16 {
    border-radius: 16px;
}

.b-r-16-i {
    border-radius: 16px !important;
}

.b-r-16-p {
    border-radius: 16%;
}

.b-r-16-p-i {
    border-radius: 16% !important;
}

.b-r-17 {
    border-radius: 17px;
}

.b-r-17-i {
    border-radius: 17px !important;
}

.b-r-17-p {
    border-radius: 17%;
}

.b-r-17-p-i {
    border-radius: 17% !important;
}

.b-r-18 {
    border-radius: 18px;
}

.b-r-18-i {
    border-radius: 18px !important;
}

.b-r-18-p {
    border-radius: 18%;
}

.b-r-18-p-i {
    border-radius: 18% !important;
}

.b-r-19 {
    border-radius: 19px;
}

.b-r-19-i {
    border-radius: 19px !important;
}

.b-r-19-p {
    border-radius: 19%;
}

.b-r-19-p-i {
    border-radius: 19% !important;
}

.b-r-20 {
    border-radius: 20px;
}

.b-r-20-i {
    border-radius: 20px !important;
}

.b-r-20-p {
    border-radius: 20%;
}

.b-r-20-p-i {
    border-radius: 20% !important;
}

.b-r-21 {
    border-radius: 21px;
}

.b-r-21-i {
    border-radius: 21px !important;
}

.b-r-21-p {
    border-radius: 21%;
}

.b-r-21-p-i {
    border-radius: 21% !important;
}

.b-r-22 {
    border-radius: 22px;
}

.b-r-22-i {
    border-radius: 22px !important;
}

.b-r-22-p {
    border-radius: 22%;
}

.b-r-22-p-i {
    border-radius: 22% !important;
}

.b-r-23 {
    border-radius: 23px;
}

.b-r-23-i {
    border-radius: 23px !important;
}

.b-r-23-p {
    border-radius: 23%;
}

.b-r-23-p-i {
    border-radius: 23% !important;
}

.b-r-24 {
    border-radius: 24px;
}

.b-r-24-i {
    border-radius: 24px !important;
}

.b-r-24-p {
    border-radius: 24%;
}

.b-r-24-p-i {
    border-radius: 24% !important;
}

.b-r-25 {
    border-radius: 25px;
}

.b-r-25-i {
    border-radius: 25px !important;
}

.b-r-25-p {
    border-radius: 25%;
}

.b-r-25-p-i {
    border-radius: 25% !important;
}

.b-r-26 {
    border-radius: 26px;
}

.b-r-26-i {
    border-radius: 26px !important;
}

.b-r-26-p {
    border-radius: 26%;
}

.b-r-26-p-i {
    border-radius: 26% !important;
}

.b-r-27 {
    border-radius: 27px;
}

.b-r-27-i {
    border-radius: 27px !important;
}

.b-r-27-p {
    border-radius: 27%;
}

.b-r-27-p-i {
    border-radius: 27% !important;
}

.b-r-28 {
    border-radius: 28px;
}

.b-r-28-i {
    border-radius: 28px !important;
}

.b-r-28-p {
    border-radius: 28%;
}

.b-r-28-p-i {
    border-radius: 28% !important;
}

.b-r-29 {
    border-radius: 29px;
}

.b-r-29-i {
    border-radius: 29px !important;
}

.b-r-29-p {
    border-radius: 29%;
}

.b-r-29-p-i {
    border-radius: 29% !important;
}

.b-r-30 {
    border-radius: 30px;
}

.b-r-30-i {
    border-radius: 30px !important;
}

.b-r-30-p {
    border-radius: 30%;
}

.b-r-30-p-i {
    border-radius: 30% !important;
}

.b-r-31 {
    border-radius: 31px;
}

.b-r-31-i {
    border-radius: 31px !important;
}

.b-r-31-p {
    border-radius: 31%;
}

.b-r-31-p-i {
    border-radius: 31% !important;
}

.b-r-32 {
    border-radius: 32px;
}

.b-r-32-i {
    border-radius: 32px !important;
}

.b-r-32-p {
    border-radius: 32%;
}

.b-r-32-p-i {
    border-radius: 32% !important;
}

.b-r-33 {
    border-radius: 33px;
}

.b-r-33-i {
    border-radius: 33px !important;
}

.b-r-33-p {
    border-radius: 33%;
}

.b-r-33-p-i {
    border-radius: 33% !important;
}

.b-r-34 {
    border-radius: 34px;
}

.b-r-34-i {
    border-radius: 34px !important;
}

.b-r-34-p {
    border-radius: 34%;
}

.b-r-34-p-i {
    border-radius: 34% !important;
}

.b-r-35 {
    border-radius: 35px;
}

.b-r-35-i {
    border-radius: 35px !important;
}

.b-r-35-p {
    border-radius: 35%;
}

.b-r-35-p-i {
    border-radius: 35% !important;
}

.b-r-36 {
    border-radius: 36px;
}

.b-r-36-i {
    border-radius: 36px !important;
}

.b-r-36-p {
    border-radius: 36%;
}

.b-r-36-p-i {
    border-radius: 36% !important;
}

.b-r-37 {
    border-radius: 37px;
}

.b-r-37-i {
    border-radius: 37px !important;
}

.b-r-37-p {
    border-radius: 37%;
}

.b-r-37-p-i {
    border-radius: 37% !important;
}

.b-r-38 {
    border-radius: 38px;
}

.b-r-38-i {
    border-radius: 38px !important;
}

.b-r-38-p {
    border-radius: 38%;
}

.b-r-38-p-i {
    border-radius: 38% !important;
}

.b-r-39 {
    border-radius: 39px;
}

.b-r-39-i {
    border-radius: 39px !important;
}

.b-r-39-p {
    border-radius: 39%;
}

.b-r-39-p-i {
    border-radius: 39% !important;
}

.b-r-40 {
    border-radius: 40px;
}

.b-r-40-i {
    border-radius: 40px !important;
}

.b-r-40-p {
    border-radius: 40%;
}

.b-r-40-p-i {
    border-radius: 40% !important;
}

.b-r-41 {
    border-radius: 41px;
}

.b-r-41-i {
    border-radius: 41px !important;
}

.b-r-41-p {
    border-radius: 41%;
}

.b-r-41-p-i {
    border-radius: 41% !important;
}

.b-r-42 {
    border-radius: 42px;
}

.b-r-42-i {
    border-radius: 42px !important;
}

.b-r-42-p {
    border-radius: 42%;
}

.b-r-42-p-i {
    border-radius: 42% !important;
}

.b-r-43 {
    border-radius: 43px;
}

.b-r-43-i {
    border-radius: 43px !important;
}

.b-r-43-p {
    border-radius: 43%;
}

.b-r-43-p-i {
    border-radius: 43% !important;
}

.b-r-44 {
    border-radius: 44px;
}

.b-r-44-i {
    border-radius: 44px !important;
}

.b-r-44-p {
    border-radius: 44%;
}

.b-r-44-p-i {
    border-radius: 44% !important;
}

.b-r-45 {
    border-radius: 45px;
}

.b-r-45-i {
    border-radius: 45px !important;
}

.b-r-45-p {
    border-radius: 45%;
}

.b-r-45-p-i {
    border-radius: 45% !important;
}

.b-r-46 {
    border-radius: 46px;
}

.b-r-46-i {
    border-radius: 46px !important;
}

.b-r-46-p {
    border-radius: 46%;
}

.b-r-46-p-i {
    border-radius: 46% !important;
}

.b-r-47 {
    border-radius: 47px;
}

.b-r-47-i {
    border-radius: 47px !important;
}

.b-r-47-p {
    border-radius: 47%;
}

.b-r-47-p-i {
    border-radius: 47% !important;
}

.b-r-48 {
    border-radius: 48px;
}

.b-r-48-i {
    border-radius: 48px !important;
}

.b-r-48-p {
    border-radius: 48%;
}

.b-r-48-p-i {
    border-radius: 48% !important;
}

.b-r-49 {
    border-radius: 49px;
}

.b-r-49-i {
    border-radius: 49px !important;
}

.b-r-49-p {
    border-radius: 49%;
}

.b-r-49-p-i {
    border-radius: 49% !important;
}

.b-r-50 {
    border-radius: 50px;
}

.b-r-50-i {
    border-radius: 50px !important;
}

.b-r-50-p {
    border-radius: 50%;
}

.b-r-50-p-i {
    border-radius: 50% !important;
}

.b-r-51 {
    border-radius: 51px;
}

.b-r-51-i {
    border-radius: 51px !important;
}

.b-r-51-p {
    border-radius: 51%;
}

.b-r-51-p-i {
    border-radius: 51% !important;
}

.b-r-52 {
    border-radius: 52px;
}

.b-r-52-i {
    border-radius: 52px !important;
}

.b-r-52-p {
    border-radius: 52%;
}

.b-r-52-p-i {
    border-radius: 52% !important;
}

.b-r-53 {
    border-radius: 53px;
}

.b-r-53-i {
    border-radius: 53px !important;
}

.b-r-53-p {
    border-radius: 53%;
}

.b-r-53-p-i {
    border-radius: 53% !important;
}

.b-r-54 {
    border-radius: 54px;
}

.b-r-54-i {
    border-radius: 54px !important;
}

.b-r-54-p {
    border-radius: 54%;
}

.b-r-54-p-i {
    border-radius: 54% !important;
}

.b-r-55 {
    border-radius: 55px;
}

.b-r-55-i {
    border-radius: 55px !important;
}

.b-r-55-p {
    border-radius: 55%;
}

.b-r-55-p-i {
    border-radius: 55% !important;
}

.b-r-56 {
    border-radius: 56px;
}

.b-r-56-i {
    border-radius: 56px !important;
}

.b-r-56-p {
    border-radius: 56%;
}

.b-r-56-p-i {
    border-radius: 56% !important;
}

.b-r-57 {
    border-radius: 57px;
}

.b-r-57-i {
    border-radius: 57px !important;
}

.b-r-57-p {
    border-radius: 57%;
}

.b-r-57-p-i {
    border-radius: 57% !important;
}

.b-r-58 {
    border-radius: 58px;
}

.b-r-58-i {
    border-radius: 58px !important;
}

.b-r-58-p {
    border-radius: 58%;
}

.b-r-58-p-i {
    border-radius: 58% !important;
}

.b-r-59 {
    border-radius: 59px;
}

.b-r-59-i {
    border-radius: 59px !important;
}

.b-r-59-p {
    border-radius: 59%;
}

.b-r-59-p-i {
    border-radius: 59% !important;
}

.b-r-60 {
    border-radius: 60px;
}

.b-r-60-i {
    border-radius: 60px !important;
}

.b-r-60-p {
    border-radius: 60%;
}

.b-r-60-p-i {
    border-radius: 60% !important;
}

.b-r-61 {
    border-radius: 61px;
}

.b-r-61-i {
    border-radius: 61px !important;
}

.b-r-61-p {
    border-radius: 61%;
}

.b-r-61-p-i {
    border-radius: 61% !important;
}

.b-r-62 {
    border-radius: 62px;
}

.b-r-62-i {
    border-radius: 62px !important;
}

.b-r-62-p {
    border-radius: 62%;
}

.b-r-62-p-i {
    border-radius: 62% !important;
}

.b-r-63 {
    border-radius: 63px;
}

.b-r-63-i {
    border-radius: 63px !important;
}

.b-r-63-p {
    border-radius: 63%;
}

.b-r-63-p-i {
    border-radius: 63% !important;
}

.b-r-64 {
    border-radius: 64px;
}

.b-r-64-i {
    border-radius: 64px !important;
}

.b-r-64-p {
    border-radius: 64%;
}

.b-r-64-p-i {
    border-radius: 64% !important;
}

.b-r-65 {
    border-radius: 65px;
}

.b-r-65-i {
    border-radius: 65px !important;
}

.b-r-65-p {
    border-radius: 65%;
}

.b-r-65-p-i {
    border-radius: 65% !important;
}

.b-r-66 {
    border-radius: 66px;
}

.b-r-66-i {
    border-radius: 66px !important;
}

.b-r-66-p {
    border-radius: 66%;
}

.b-r-66-p-i {
    border-radius: 66% !important;
}

.b-r-67 {
    border-radius: 67px;
}

.b-r-67-i {
    border-radius: 67px !important;
}

.b-r-67-p {
    border-radius: 67%;
}

.b-r-67-p-i {
    border-radius: 67% !important;
}

.b-r-68 {
    border-radius: 68px;
}

.b-r-68-i {
    border-radius: 68px !important;
}

.b-r-68-p {
    border-radius: 68%;
}

.b-r-68-p-i {
    border-radius: 68% !important;
}

.b-r-69 {
    border-radius: 69px;
}

.b-r-69-i {
    border-radius: 69px !important;
}

.b-r-69-p {
    border-radius: 69%;
}

.b-r-69-p-i {
    border-radius: 69% !important;
}

.b-r-70 {
    border-radius: 70px;
}

.b-r-70-i {
    border-radius: 70px !important;
}

.b-r-70-p {
    border-radius: 70%;
}

.b-r-70-p-i {
    border-radius: 70% !important;
}

.b-r-71 {
    border-radius: 71px;
}

.b-r-71-i {
    border-radius: 71px !important;
}

.b-r-71-p {
    border-radius: 71%;
}

.b-r-71-p-i {
    border-radius: 71% !important;
}

.b-r-72 {
    border-radius: 72px;
}

.b-r-72-i {
    border-radius: 72px !important;
}

.b-r-72-p {
    border-radius: 72%;
}

.b-r-72-p-i {
    border-radius: 72% !important;
}

.b-r-73 {
    border-radius: 73px;
}

.b-r-73-i {
    border-radius: 73px !important;
}

.b-r-73-p {
    border-radius: 73%;
}

.b-r-73-p-i {
    border-radius: 73% !important;
}

.b-r-74 {
    border-radius: 74px;
}

.b-r-74-i {
    border-radius: 74px !important;
}

.b-r-74-p {
    border-radius: 74%;
}

.b-r-74-p-i {
    border-radius: 74% !important;
}

.b-r-75 {
    border-radius: 75px;
}

.b-r-75-i {
    border-radius: 75px !important;
}

.b-r-75-p {
    border-radius: 75%;
}

.b-r-75-p-i {
    border-radius: 75% !important;
}

.b-r-76 {
    border-radius: 76px;
}

.b-r-76-i {
    border-radius: 76px !important;
}

.b-r-76-p {
    border-radius: 76%;
}

.b-r-76-p-i {
    border-radius: 76% !important;
}

.b-r-77 {
    border-radius: 77px;
}

.b-r-77-i {
    border-radius: 77px !important;
}

.b-r-77-p {
    border-radius: 77%;
}

.b-r-77-p-i {
    border-radius: 77% !important;
}

.b-r-78 {
    border-radius: 78px;
}

.b-r-78-i {
    border-radius: 78px !important;
}

.b-r-78-p {
    border-radius: 78%;
}

.b-r-78-p-i {
    border-radius: 78% !important;
}

.b-r-79 {
    border-radius: 79px;
}

.b-r-79-i {
    border-radius: 79px !important;
}

.b-r-79-p {
    border-radius: 79%;
}

.b-r-79-p-i {
    border-radius: 79% !important;
}

.b-r-80 {
    border-radius: 80px;
}

.b-r-80-i {
    border-radius: 80px !important;
}

.b-r-80-p {
    border-radius: 80%;
}

.b-r-80-p-i {
    border-radius: 80% !important;
}

.b-r-81 {
    border-radius: 81px;
}

.b-r-81-i {
    border-radius: 81px !important;
}

.b-r-81-p {
    border-radius: 81%;
}

.b-r-81-p-i {
    border-radius: 81% !important;
}

.b-r-82 {
    border-radius: 82px;
}

.b-r-82-i {
    border-radius: 82px !important;
}

.b-r-82-p {
    border-radius: 82%;
}

.b-r-82-p-i {
    border-radius: 82% !important;
}

.b-r-83 {
    border-radius: 83px;
}

.b-r-83-i {
    border-radius: 83px !important;
}

.b-r-83-p {
    border-radius: 83%;
}

.b-r-83-p-i {
    border-radius: 83% !important;
}

.b-r-84 {
    border-radius: 84px;
}

.b-r-84-i {
    border-radius: 84px !important;
}

.b-r-84-p {
    border-radius: 84%;
}

.b-r-84-p-i {
    border-radius: 84% !important;
}

.b-r-85 {
    border-radius: 85px;
}

.b-r-85-i {
    border-radius: 85px !important;
}

.b-r-85-p {
    border-radius: 85%;
}

.b-r-85-p-i {
    border-radius: 85% !important;
}

.b-r-86 {
    border-radius: 86px;
}

.b-r-86-i {
    border-radius: 86px !important;
}

.b-r-86-p {
    border-radius: 86%;
}

.b-r-86-p-i {
    border-radius: 86% !important;
}

.b-r-87 {
    border-radius: 87px;
}

.b-r-87-i {
    border-radius: 87px !important;
}

.b-r-87-p {
    border-radius: 87%;
}

.b-r-87-p-i {
    border-radius: 87% !important;
}

.b-r-88 {
    border-radius: 88px;
}

.b-r-88-i {
    border-radius: 88px !important;
}

.b-r-88-p {
    border-radius: 88%;
}

.b-r-88-p-i {
    border-radius: 88% !important;
}

.b-r-89 {
    border-radius: 89px;
}

.b-r-89-i {
    border-radius: 89px !important;
}

.b-r-89-p {
    border-radius: 89%;
}

.b-r-89-p-i {
    border-radius: 89% !important;
}

.b-r-90 {
    border-radius: 90px;
}

.b-r-90-i {
    border-radius: 90px !important;
}

.b-r-90-p {
    border-radius: 90%;
}

.b-r-90-p-i {
    border-radius: 90% !important;
}

.b-r-91 {
    border-radius: 91px;
}

.b-r-91-i {
    border-radius: 91px !important;
}

.b-r-91-p {
    border-radius: 91%;
}

.b-r-91-p-i {
    border-radius: 91% !important;
}

.b-r-92 {
    border-radius: 92px;
}

.b-r-92-i {
    border-radius: 92px !important;
}

.b-r-92-p {
    border-radius: 92%;
}

.b-r-92-p-i {
    border-radius: 92% !important;
}

.b-r-93 {
    border-radius: 93px;
}

.b-r-93-i {
    border-radius: 93px !important;
}

.b-r-93-p {
    border-radius: 93%;
}

.b-r-93-p-i {
    border-radius: 93% !important;
}

.b-r-94 {
    border-radius: 94px;
}

.b-r-94-i {
    border-radius: 94px !important;
}

.b-r-94-p {
    border-radius: 94%;
}

.b-r-94-p-i {
    border-radius: 94% !important;
}

.b-r-95 {
    border-radius: 95px;
}

.b-r-95-i {
    border-radius: 95px !important;
}

.b-r-95-p {
    border-radius: 95%;
}

.b-r-95-p-i {
    border-radius: 95% !important;
}

.b-r-96 {
    border-radius: 96px;
}

.b-r-96-i {
    border-radius: 96px !important;
}

.b-r-96-p {
    border-radius: 96%;
}

.b-r-96-p-i {
    border-radius: 96% !important;
}

.b-r-97 {
    border-radius: 97px;
}

.b-r-97-i {
    border-radius: 97px !important;
}

.b-r-97-p {
    border-radius: 97%;
}

.b-r-97-p-i {
    border-radius: 97% !important;
}

.b-r-98 {
    border-radius: 98px;
}

.b-r-98-i {
    border-radius: 98px !important;
}

.b-r-98-p {
    border-radius: 98%;
}

.b-r-98-p-i {
    border-radius: 98% !important;
}

.b-r-99 {
    border-radius: 99px;
}

.b-r-99-i {
    border-radius: 99px !important;
}

.b-r-99-p {
    border-radius: 99%;
}

.b-r-99-p-i {
    border-radius: 99% !important;
}

.b-r-100 {
    border-radius: 100px;
}

.b-r-100-i {
    border-radius: 100px !important;
}

.b-r-100-p {
    border-radius: 100%;
}

.b-r-100-p-i {
    border-radius: 100% !important;
}